.passions-block {
    width: 100%;
    margin-bottom: 0 auto;

    &__textarea {

        &__title {
            width: 63.4rem;

            font-weight: 700;
            font-size: 3.2rem;
            background: $title-gradient;
            background-clip: text;
            color: $title-transparent;

            @include desktop-sd {
                width: 40rem;
            }
        }

        &__text {
            width: 46.9rem;

            font-weight: 400;
            font-size: 2rem;
            line-height: 4rem;
            color: $text-gray;

            @include desktop-sd {
                width: 35rem;
            }
        }
    }
}

.free-block {
    width: 100%;

    &__imagearea {

        &__image {

            width: 90%;
            margin-top: 10rem;
        }
    }
    
    &__textarea {

        &__title {
            width: 22.6rem;

            font-weight: 700;
            font-size: 3.2rem;
            background: $title-gradient;
            background-clip: text;
            color: $title-transparent;
        }

        &__text {
            width: 46.9rem;

            font-weight: 400;
            font-size: 2rem;
            line-height: 4rem;
            color: $text-gray;
        }
    }
}