/* FONTS */

$poppins : 'Poppins', sans-serif;

/* COLORS */

    /* HEADER (NAVBAR) */
$nav_buttons : #0072C0;
$nav_buttons_text: #FFFFFF;

    /* WHATIS */
$whatis-title: #FFFFFF;
$whatis-text: #FFFFFF;
$whatis-button-bg: #FFFFFF;
$whatis-button : #000000;

/* SAME PASSIONS */

$title-transparent: transparent;
$title-gradient: linear-gradient(178.18deg, #030271 -13.56%, #5271FF 158.3%);
$text-gray: #333333;


/* BREAKPOINTS */

$desktop-st: 1550px;
$desktop-sd: 1200px;
$desktop-th: 1050px;
$desktop-fr: 880px;

$tablet-st: 780px;