@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* BREAKPOINTS */
/* FONTS */
/* COLORS */
/* HEADER (NAVBAR) */
/* WHATIS */
/* SAME PASSIONS */
/* BREAKPOINTS */
/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* STYLE */
html, body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  /* For 1 rem = 10px */
  font-family: "Poppins", sans-serif;
}

a, ul {
  text-decoration: none;
  list-style: none;
}

/* HEADER */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
}
.header__button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7rem;
}
@media screen and (max-width: 1550px) {
  .header__button__list {
    gap: 5rem;
  }
}

/* FOOTER */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
}

/* IMPORT HEADER STYLE */
.header {
  width: 100%;
  height: 13.9rem;
  margin: 0 auto;
}
.header__logo {
  position: absolute;
  top: 0;
}
.header__nav__links {
  font-weight: 700;
  font-size: 1.4rem;
  color: #333333;
  margin: 0 auto;
}
.header__nav__links#active {
  padding-bottom: 1rem;
  border-bottom: 3px solid #030271;
}
.header__button__action {
  width: 13rem;
  height: 5.7rem;
  background: #0072C0;
  border-radius: 100px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
}

/* IMPORT INDEX STYLE */
/* FIRST BLOCK (What is GetUrGeek) */
.whatis-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 14.6rem;
}

/* SECOND BLOCK (Same passions) */
.passions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15rem;
}

/* THIRD BLOCK (Totally free !) */
.free-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15rem;
}
@media screen and (max-width: 1200px) {
  .free-block {
    gap: 0;
  }
}

/* The login popup form - hidden by default */
.popup_overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-block {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup {
  position: fixed;
  background-color: #f5f5f5;
  display: table;
  width: 64.4rem;
  height: 58.3rem;
  border-radius: 25px;
}
.popup__title {
  margin-top: 5.2rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  background: linear-gradient(178.18deg, #030271 -13.56%, #00839E 74.16%, #5271FF 152.93%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.popup__text {
  margin-top: 2.1rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #333333;
}
.popup__text__forgot {
  margin: -2.1rem 0 4.2rem 20rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: #2F2F2F;
}
.popup__text__signup {
  font-weight: 400;
  font-size: 1.2rem;
  color: #2F2F2F;
  padding-bottom: 1rem;
}
.popup__link__signup {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: underline;
  color: #2F2F2F;
}
.popup__form {
  margin-top: 5.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup__form__input {
  width: 34.7rem;
  height: 6rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
}
.popup__form__input::first-line {
  padding-left: 1rem;
}
.popup__form__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  color: #2F2F2F;
}
.popup__form__input::-moz-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  color: #2F2F2F;
}
.popup__form__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  color: #2F2F2F;
}
.popup__form__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  color: #2F2F2F;
}
.popup__form__input::placeholder {
  font-weight: 500;
  font-size: 1.4rem;
  color: #2F2F2F;
}
.popup__buttonarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}
.popup__buttonarea__button {
  background: linear-gradient(178.18deg, #030271 -13.56%, #00839E 73.26%, #5271FF 158.3%);
  border-radius: 100px;
  border: none;
  width: 15.7rem;
  height: 5.4rem;
  margin-bottom: 3.8rem;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
}

.popup-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* First block | What is GetUrGeek */
.whatis-block {
  width: 100%;
  height: 75rem;
  margin-bottom: 10rem;
  background: url("../../index/src/img/whatis-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.whatis-block__textarea__title {
  width: 26.5rem;
  height: 11.6rem;
  font-weight: 400;
  font-size: 4rem;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.whatis-block__textarea__text {
  width: 39.9rem;
  height: 21rem;
  margin: 1.5rem 0 3.5rem 0;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.5rem;
  color: #FFFFFF;
}
.whatis-block__textarea__button {
  width: 13.6rem;
  height: 5.4rem;
  background: #FFFFFF;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  color: #000000;
}
.whatis-block__imagearea__image {
  width: 90%;
}
@media screen and (max-width: 1550px) {
  .whatis-block__imagearea__image {
    width: 80%;
  }
}

.passions-block {
  width: 100%;
  margin-bottom: 0 auto;
}
.passions-block__textarea__title {
  width: 63.4rem;
  font-weight: 700;
  font-size: 3.2rem;
  background: linear-gradient(178.18deg, #030271 -13.56%, #5271FF 158.3%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
@media screen and (max-width: 1200px) {
  .passions-block__textarea__title {
    width: 40rem;
  }
}
.passions-block__textarea__text {
  width: 46.9rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  color: #333333;
}
@media screen and (max-width: 1200px) {
  .passions-block__textarea__text {
    width: 35rem;
  }
}

.free-block {
  width: 100%;
}
.free-block__imagearea__image {
  width: 90%;
  margin-top: 10rem;
}
.free-block__textarea__title {
  width: 22.6rem;
  font-weight: 700;
  font-size: 3.2rem;
  background: linear-gradient(178.18deg, #030271 -13.56%, #5271FF 158.3%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.free-block__textarea__text {
  width: 46.9rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  color: #333333;
}

/* IMPORT FOOTER STYLE */
.footer {
  width: 100%;
  height: 48.8rem;
  background: url("../../global/img/footer-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__nav {
  margin-bottom: 1.5rem;
}
.footer__nav__ico {
  color: white;
}
.footer__copyright__text {
  width: 35.2rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  text-align: center;
  color: white;
}/*# sourceMappingURL=style.css.map */